<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Recuperare parola</title>
<style>
    body{
        background-color: aquamarine;
        background-image:url("back.jpg");
        font-style: italic;
    }
    button {
    background-color: blue;
    color: white;
    padding: 10px 30px;
    text-align: center;
    font-size: 16px;
}
h1{
    font-size: 100px;
}
label{
    font-size: 20px;
}
.textbar{
    width: 200px;
}
a{
    color:rgb(157, 165, 42);
    font-size: 20px;
}
.err{
    color:red;

}
</style>
<script>
</script>
</head>
<body>
<center>
    <br><br>
    <h1>Recupereaza parola</h1>
    <br><br>
    <form method="post" action="/recoverpass">
    <div>
        <label>Email:</label>
        <input name="email" class="textbar" type="text" required>
    <br>
    </div>
    <p class="err">Acest email nu a fost inregistrat</p>
    <br>
    <div>
        <button type="submit">Recupereaza</button>
    </div>
    </form>


</center>
</body>
</html>