<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Poezie</title>
<style>
    body{
        background-color: aquamarine;
        background-image:url("back.jpg");
        font-style: italic;
    }
    button {
    background-color: blue; 
    color: white;
    padding: 10px 30px;
    text-align: center;
    font-size: 16px;
}
h1{
    font-size: 100px;
}
label{
    font-size: 20px;
}
.textbar{
    width: 200px;
}
a{
    color:rgb(157, 165, 42);
    font-size: 20px;
}
</style>
<script>
</script>
</head>
<body>
<center>
    Somnoroase păsărele <br>
Pe la cuiburi se adună, <br>
Se ascund în rămurele - <br>
Noapte bună! <br> <br>

Doar izvoarele suspină, <br>
Pe când codrul negru tace; <br>
Dorm şi florile-n grădină - <br>
Dormi în pace! <br> <br>

Trece lebăda pe ape <br>
Între trestii să se culce - <br>
Fie-ţi îngerii aproape, <br>
Somnul dulce! <br> <br>

Peste-a nopţii feerie <br>
Se ridică mândra lună, <br>
Totu-i vis şi armonie - <br>
Noapte bună! <br> <br> <br>


<form method="post" action="/logout">
    <button type="submit">Log-out</button>
</form>


</center>
</body>
</html>